.footer {
  background: var(--color-blue);
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bold;
}
.footer span {
  font-size: .8rem;
  color: white;
}
